.input-range__container {
  align-items: center;
  display: flex;
  height: 2rem;
}

/* Reset appearance */
.input-range__container input[type="range"],
.input-range__container input[type="range"]::-webkit-slider-runnable-track,
.input-range__container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

/* Main element */
.input-range__container input[type="range"] {
  background-color: var(--ba-border-active);
  border-radius: 0.25rem;
  margin: 0;
  width: 100%;
}
.input-range__container input[type="range"]:focus {
  outline: none;
}

/* Slider horizontal line */
.input-range__container input[type="range"]::-webkit-slider-runnable-track {
  height: 0.5rem;
}

/* Draggable */
.input-range__container input[type="range"]::-webkit-slider-thumb {
  background-color: var(--ba-lightred);
  border-radius: 0.5rem;
  height: 1.5rem;
  margin-top: -0.5rem;
  width: 0.5rem;
}
.input-range__container input[type="range"]::-webkit-slider-thumb:hover {
  background-color: var(--ba-lightred-hover);
}
.input-range__container input[type="range"]:active::-webkit-slider-thumb,
.input-range__container input[type="range"]::-webkit-slider-thumb:active {
  background-color: var(--ba-lightred-active);
}
