.preview-area {
  align-items: center;
  background-color: var(--ba-black);
  border: var(--ba-border-2) solid transparent;
  display: flex;
  flex: 1;
  justify-content: center;
}

.preview-area--active {
  border: var(--border-2) solid var(--ba-red);
}
