.button {
  align-items: center;
  appearance: none;
  background-color: var(--ba-light);
  border: var(--border-1) solid var(--ba-border-active);
  border-radius: var(--margin-025);
  display: flex;
  color: var(--ba-dark);
  flex: 1;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  padding: var(--margin-050) var(--margin-100);
}

.button:hover {
  background-color: var(--ba-light-hover);
}

.button:active {
  background-color: var(--ba-light-active);
}

.button:focus {
  box-shadow: 0 0 var(--border-1) var(--border-1) var(--ba-lightyellow);
  border: var(--border-1) solid var(--ba-lightyellow);
  border-radius: var(--margin-025);
  outline: none;
}

.button--color-primary {
  background-color: var(--ba-blue);
}

.button__icon-container {
  display: flex;
  align-items: center;
  margin-right: var(--margin-050);
}

.button__label {
  white-space: nowrap;
}
