.button {
  align-items: center;
  appearance: none;
  background-color: var(--ba-light);
  border: var(--border-1) solid var(--ba-border-active);
  border-radius: var(--margin-025);
  display: flex;
  color: var(--ba-dark);
  flex: 1;
  /* flex-direction: column; */
  font-family: inherit;
  font-size: 0.95rem;
  line-height: inherit;
  padding: var(--margin-050);
}

.button:hover {
  background-color: var(--ba-light-hover);
}

.button:active {
  background-color: var(--ba-light-active);
}

.button:focus {
  box-shadow: 0 0 var(--border-1) var(--border-1) var(--ba-lightyellow);
  border: var(--border-1) solid var(--ba-lightyellow);
  border-radius: var(--margin-025);
  outline: none;
}

.button--style-default {
  /* display: flex; */
}

.button__icon-container {
  display: flex;
  align-items: center;
  margin-right: var(--margin-050);
  /* width: 100%; */
  /* display: inline; */
}

.button__label {
  /* width: 100%; */
  /* display: inline; */
  white-space: nowrap;
}
