.sidebar-block {
  border-bottom: var(--border-1) solid var(--ba-border);
  padding: 0 var(--margin-100) var(--margin-100) var(--margin-100);
}

.sidebar-block--flex {
  flex: 1;
}

.sidebar-block__title-icon {
  font-size: 1.3rem;
  margin-right: var(--margin-050);
}
