/* TODO these imports should be phased out */
@import "../../../styles/_colors.css";
@import "../../../styles/_sizes.css";

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300 400 500 600 700 800;
  src: url("./OpenSans.ttf") format("truetype");
}

:root {
  --ba-theme-timeline-background: var(--mantine-color-default);
  --ba-theme-border: calc(0.0625rem * var(--mantine-scale)) solid
    var(--mantine-color-default-border);
}

body {
  user-select: none;
  height: 100vh;
}

#root {
  height: 100%;
}
