.timeline {
  display: flex;
  background-color: var(--ba-theme-timeline-background);
  border-top: var(--ba-theme-border);
}

.timeline__track-labels {
  border-right: var(--ba-theme-border);
}

.timeline__track-labels-inner {
  margin-top: var(--height-200);
}

.timeline__tracks {
  flex: 1;
  overflow-x: scroll;
}

.timeline__tracks-inner {
  width: max-content;
  min-width: 100%;
}
