*, *::before, *::after { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #2B2B2B;
  color: #D9D9D9;
  font-family: "Roboto", sans-serif;
  -webkit-user-select: none;
  cursor: default;
  font-size: 0.9em;
  height: 100%;
}

/* ========== TEXT STYLING ============== */

a {
  color: #D9D9D9;
  text-decoration: underline;
  cursor: pointer;
}

a:active {
  text-decoration: none;
}

/* ======== Main Area ======== */

main { width: 100%; }

.content {
    padding: 0 0 0 2%;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #171717;
    overflow: hidden;
}

.content h1 {
    margin: 0;
    padding: 0.5em 0 0 0;
}

.content h2 {
    font-size: 1.2em;
    margin: 0;
    padding: 0.83em 0;
}

.content p {
    /* nw-TODO bottom margin should be set back to 4em when nw.js/issues/4627 is fixed */
    margin: 0 0 3em 0;
}

/* ======= Buttons ======== */

.content button {
    width: calc(33% - 0.5em);
    margin-right: 0.5em;
    float: left;
}

.content button:last-of-type { margin: 0; }

.content button i {
    font-size: 400%;
    float: left;
}

.content button span {
    display: block;
    transform: translateY(100%);
}

/* ========== Status bar ============== */

footer {
  position: fixed;
  background-color: #D9D9D9;
  color: #2B2B2B;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

footer a { color: #2B2B2B; }
footer a:hover, footer a:active { text-decoration: underline; }

footer ul {
  list-style: none;
  padding: 0 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

footer li { display: inline-block; }

footer li:not(.no-pipe)::after {
  content: "|";
  color: #b5b5b5;
  margin-right: 0.5em;
  margin-left: 0.8em;
}