*, *::before, *::after { box-sizing: border-box; }

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #2B2B2B;
  color: #D9D9D9;
  font-family: "Roboto", sans-serif;
  -webkit-user-select: none;
  cursor: default;
  font-size: 0.9em;
  height: 100%;
}

/* ========== TEXT STYLING ============== */

a {
  color: #D9D9D9;
  text-decoration: none;
  cursor: pointer;
}

/* ========== NOTIFICATION BAR ============== */

.notification {
  width: 60%;
  min-height: 3em;
  position: fixed;
  left: 18vw;
  padding-top: 0.2em;
  padding-bottom: 0.5em;
  box-shadow: 0 1px 5px 1px rgba(27, 27, 27, 0.4);
  z-index: 5;
  color: #fff;
  transition: transform 0.3s ease;
}

/* Notification states */
.notification.hidden { transform: translate3d(0, -110%, 0); }
.notification.success { background-color: #2d9e2d; }
.notification.info { background-color: #3a3ae1; }
.notification.error { background-color: #ad0000; }

.notification #msg {
  margin: 0;
  font-size: 1.6em;
  text-align: center;
}

/* ========== CONFIRM BOXES ========== */

#confirm-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(23, 23, 23, 0.5);
    z-index: 4;
    text-align: center;
}

#confirm-container.hidden { display: none; }

#confirm {
    position: relative;
    top: calc(50vh - 10em);
    display: inline-block;
    width: 20em;
    background-color: #000;
    padding: 0 1em 1em 1em;
    border: 1px solid #D9D9D9;
}

#confirm-title {
    font-size: 1.2em;
    color: rgb(224, 224, 100);
}

#confirm-text { text-align: left; }

#confirm-button-container { float: right; }

#confirm button {
    float: left;
    margin-left: 1em;
    width: 6em;
}

#confirm button:hover { opacity: 0.9; }

#confirm button:active { opacity: 0.7; }

/*Confirm buttons are typically the other way round in Win32*/
.platform-win #confirm button { float: right; }

/* ========== SIDEBAR ============== */

#sidebar {
  position: relative;
  float: right;
  color: #d3d3d3;
  z-index: 2;
  padding-right: 1em;
  height: 100%;
  width: 19em;
}

#sidebar a { color: #d3d3d3; }
#sidebar a:hover { border-bottom: 1.5px solid #d3d3d3; }

#sidebar-content {
  padding-left: 1em;
  padding-bottom: 1em;
}

#sidebar-content h2 { font-size: 1.2em; }

#sidebar-content ul {
  list-style: none;
  line-height: 1.4;
}

#sidebar-content li { margin-left: -0.7em; }

#btn-sidebar-toggle {
  font-size: 1.5em;
  padding: 0.3em;
  cursor: pointer;
  float: right;
}

.sidebar-item { border-bottom: 1px solid #ADADAD; }

.sidebar-link-dot { margin-right: 6px; }

#currentDirectoryName {
  margin: 0.2em 0 1em 0;
  font-family: monospace;
  word-break: break-word;
}

#loopCheckbox { cursor: pointer; }

/* ========== VIDEO PREVIEW ============== */

#captureWindow, #playbackWindow {
  height: calc(100vh - 200px);
/*  height: 30em;*/
  text-align: center;
  background-color: black;
}

#captureWindow.hidden,
#playbackWindow.hidden { display: none; }

#captureWindow.active { border: 2px solid #ad0000; }

#preview {
  max-width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
}

.windowTitleContainer {
  text-align: center;
  display: inline-block;
}

#playback {
    height: calc((100vh - 200px));
    width: calc(((100vh - 200px) / 3) * 4);
}

/*========== ONION SKINNING ==============*/

#onionSkinningLayer{
  height: 0;
  width: 100%;
  overflow: visible;
  padding: 0;
  margin: 0;
  z-index: 2;
}

#onion-skinning-frame {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
  opacity: 0.5;
  display: none;
  width: calc(((100vh - 200px) / 3) * 4);
  height: calc(100vh - 200px);
}
#onion-skinning-frame.visible { display: inline; }


/* ========== CONTROLS ============== */

#main-event { width: calc(100% - 19em); }

#framemod-table {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #171717;
}

#framemod-table div {
  cursor: pointer;
  font-size: 1.1em;
  display: inline-block;
}

#left-controls {
  width: 35%;
}

#left-controls i {
  padding: 0 0.25em;
  font-size: 1.2em;
}

#capture-control {
  text-align: center;
}

#playback-controls {
  width: 35%;
  font-size: 1.2em;
}

#btn-capture-frame {
  cursor: pointer;
}

#btn-capture-frame i {
  color: #f9ff23;
  font-size: 2em;
  padding: 0.2em 0;
}

#btn-capture-frame i:hover {
  color: #f3f76e;
}

#btn-play-pause, #btn-stop, #btn-loop {
  padding: 0 0.25em;
  float: right;
}

#btn-loop i.active, #btn-onion-skin-toggle i.active {
  color: #ad0000;
}

/* ========== FRAME REEL ============== */

#frame-reel-container {
  position: relative;
}

/* Frame reel area */
#area-frame-reel {
  position: relative;
  top: -3px;
  overflow-x: scroll;
  background-color: #171717;
}

#area-frame-reel table {
  border-spacing: none !important;
}

#area-frame-reel tr { display: inline-block; }

#area-frame-reel tr:nth-child(2) { display: table-cell; }

#area-frame-reel > p {
  font-size: 1.4em;
  text-align: center;
}

#area-frame-reel > p.hidden,
#area-frame-reel > table.hidden { display: none; }

/* Image container */
.frame-reel-preview { position: relative; }
.frame-reel-preview.selected { outline: 1px solid #d9d9d9; }

/* Preview image */
.frame-reel-img { cursor: pointer; }
.frame-reel-img:hover, #btn-live-view:hover { opacity: 0.8; }

/* Frame delete button */
.btn-frame-delete {
  position: absolute;
  left: 84%;
  top: 71%;
  float: right;
  cursor: pointer;
  color: white;
  text-shadow: 0 0 2px black;
}
.btn-frame-delete:hover { opacity: 0.8; }

#btn-live-view {
  width: 67px;
  height: 50px;
  background-color: #171717;
  color: #D9D9D9;
  text-align: center;
  font-size: 2.5em;
  cursor: pointer;
  margin-left: -0.15em;
  margin-top: -0.75em;
  margin-bottom: -1em;
}

#btn-live-view:hover {
  color: #ad0000;
  opacity: 1;
}

#btn-live-view.selected { color: #ad0000; }

#btn-live-view i { padding-top: 0.2em; }


/* ========== CONTROL PANEL ============== */

#control-panel-table {
    white-space: nowrap;
/*    border: 2px solid red;*/
    width: 100%;
}

#control-panel-table td {
/*    border: 1px solid white;*/
}

#other-options-container {
  padding: 1em 0;
}

#onion-skin-control {
  display: inline-block;
  float: left;
}

#onion-toggle-td, #framerate-container-td {
  width: 35%;
}

#btn-onion-skin-toggle {
  position: relative;
/*
  top: 0.5em;
  margin-top: 3em;
*/
  display: inline-block;
  cursor: pointer;
  padding: 0 1em;
/*  float: right;*/
}

#btn-onion-skin-toggle i, #btn-grid-toggle i {
  font-size: 1.7em;
}

#btn-grid-toggle {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 0 1em;
/*  float: right;*/
}

#framerate-container {
  position: relative;
  display: inline-block;
  float: right;
  padding-right: 1em;
}

#input-fr-change {
  width: 4em;
  border: 1px solid #171717;
  background-color: #d9d9d9;
  color: #171717;
  padding: 5px;
}

#onion-opacity-td {
  text-align: center;
}

#onion-opacity-slider-container {
    text-align: center;
    margin-top: -4.6em;
}

#slider-background-middle {
  position: relative;
/*  left: 1.65em;*/
  height: 1.9em;
  width: 0.09em;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1.24em;
  z-index: -1;
}

#input-onion-skin-opacity {
  -webkit-appearance: none;
  max-width: 15em;
}


#input-onion-skin-opacity:focus { outline: none; }

#input-onion-skin-opacity::-webkit-slider-runnable-track {
  height: 2px;
  cursor: pointer;
  background-color: #D9D9D9;
}
#input-onion-skin-opacity::-webkit-slider-thumb {
  height: 1.7em;
  width: 1.7em;
  border-radius: 50%;
  background-color: #ad0000;
  -webkit-appearance: none;
  margin-top: -9.5px;
}
#input-onion-skin-opacity:focus::-webkit-slider-runnable-track { background-color: #D9D9D9; }

/* ========== STATUS BAR ============== */

#statusBar {
  position: fixed;
  background-color: Window;
  color: #2B2B2B;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

#statusBar a { color: #2B2B2B; }

#statusBar ul {
  list-style: none;
  padding: 0 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#statusBar li { display: inline-block; }

#statusBar li:not(.no-pipe)::after {
  content: "|";
  color: #b5b5b5;
  margin-right: 0.5em;
  margin-left: 0.8em;
}

#statusBar-credits { float: right; }

/* ========== SCROLL BARS ============== */

::-webkit-scrollbar              {
    background-color: rgba(9, 9, 9, 0.1);
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-button       { }

::-webkit-scrollbar-track        { background-color: transparent; }

::-webkit-scrollbar-track-piece  { background-color: transparent; }

::-webkit-scrollbar-thumb        {
    background-color: #d8d8d8;
    border-radius: 10px;
    border: 1px solid #FFF;
}

::-webkit-scrollbar-thumb:hover { background-color: #e8e8e8; }

::-webkit-scrollbar-thumb:active { background-color: #fff; }

::-webkit-scrollbar-corner       { background-color: #000; }

::-webkit-resizer                { }