*, *::before, *::after { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #2B2B2B;
  color: #D9D9D9;
  font-family: "Roboto", sans-serif;
  -webkit-user-select: none;
  cursor: default;
  font-size: 0.9em;
  height: 100%;
}

/* ========== TEXT STYLING ============== */

a {
  color: #D9D9D9;
  text-decoration: none;
  cursor: pointer;
}

/* ========== SIDEBAR ============== */

#sidebar {
    position: relative;
    float: right;
    color: #d3d3d3;
    z-index: 2;
    padding-right: 1em;
    height: 100%;
    width: 19em;
}

#sidebar a { color: #d3d3d3; }
#sidebar a:hover { border-bottom: 1.5px solid #d3d3d3; }

#sidebar-content {
  padding-left: 1em;
  padding-bottom: 1em;
}

#sidebar-content h2 { font-size: 1.2em; }

#sidebar-content ul {
  list-style: none;
  line-height: 1.4;
  padding-left: 35px;
}

#sidebar-content li { margin-left: -0.7em; }

#btn-sidebar-toggle {
  font-size: 1.5em;
  padding: 0.3em;
  cursor: pointer;
  float: right;
}

.sidebar-item { border-bottom: 1px solid #ADADAD; }

.sidebar-link-dot { margin-right: 6px; }

/* ======== Main Area ======== */

#main-event { width: calc(100% - 19em); }

.content {
    padding: 0 0 0 2%;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #171717;
    overflow-y: scroll;
}

.content h1 {
    margin: 0;
    padding: 0.83em 0;
}

.content h2 {
    font-size: 1.2em;
    margin: 0;
    padding: 0.83em 0;
}

/* ========== Projects Area ============= */

#projects-container {
    margin: 0;
    padding: 0;
}

#projects-container li {
    margin: 0;
    width: 100%;
    padding: 1em 0;
    list-style-type: none;
    border-bottom: 1px solid #ADADAD;
    position: relative;
}

#projects-container li:first-of-type { padding-top: 0; }
#projects-container li:last-of-type { margin-bottom: 1em; }

#projects-container a { color: #d3d3d3; }
#projects-container a:hover { border-bottom: 1.5px solid #d3d3d3; }

.content button {
    width: calc(50% - 0.5em);
    float: left;
}

.content button:last-of-type { float: right; }

.content button i {
    font-size: 400%;
    float: left;
}

.content button span {
    display: block;
    transform: translateY(100%);
}

/* ========== Recent News ============ */

.container-news {
    margin-top: -0.8em;
    height: 25.8em;
    overflow-y: scroll;
}

.post,
.container-news h3  {
    color: #fff;
    padding-right: 1em;
}
.post { margin-bottom: 1.5em; }

.post-link {
    color: #fff;
    text-decoration: none;
}
.post-link:hover { color: #fff; }

.post-title {
    font-weight: 500;
    margin: 0;
    margin-bottom: -0.4em;
    color: #fff;
}
.post-date {
  color: #d3d3d3;
  margin: 0.75em 0 0.25em 0;
}
.post-content p:first-of-type { margin: 0; }
.post-content p { margin-top: 0; }

/* ========== STATUS BAR ============== */

#statusBar {
  position: fixed;
  background-color: #D9D9D9;
  color: #2B2B2B;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

#statusBar a { color: #2B2B2B; }

#statusBar ul {
  list-style: none;
  padding: 0 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#statusBar li { display: inline-block; }

#statusBar li:not(.no-pipe)::after {
  content: "|";
  color: #b5b5b5;
  margin-right: 0.5em;
  margin-left: 0.8em;
}

#statusBar-credits { float: right; }


/* ========== SCROLL BARS ============== */

::-webkit-scrollbar              {
    background-color: rgba(9, 9, 9, 0.1);
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-button       { }

::-webkit-scrollbar-track        { background-color: transparent; }

::-webkit-scrollbar-track-piece  { background-color: transparent; }

::-webkit-scrollbar-thumb        {
    background-color: #d8d8d8;
    border-radius: 10px;
    border: 1px solid #FFF;
}

::-webkit-scrollbar-thumb:hover { background-color: #e8e8e8; }

::-webkit-scrollbar-thumb:active { background-color: #fff; }

::-webkit-scrollbar-corner       { background-color: #000; }

::-webkit-resizer                { }