*, *::before, *::after { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #2B2B2B;
  color: #D9D9D9;
  font-family: "Roboto", sans-serif;
  -webkit-user-select: none;
  cursor: default;
  font-size: 0.9em;
  height: 100%;
}

/* ========== TEXT STYLING ============== */

a {
  color: #D9D9D9;
  text-decoration: none;
  cursor: pointer;
}

/* ========== SIDEBAR ============== */

#sidebar {
    position: relative;
    float: right;
    color: #d3d3d3;
    z-index: 2;
    padding-right: 1em;
    height: 100%;
    width: 19em;
}

.sidebar-header h2 { font-size: 1.2rem; }

.sidebar-header i {
  margin-right: 0.4em;
  font-size: 0.9em;
}

#sidebar-content {
  padding-left: 1em;
  padding-bottom: 1em;
}

#sidebar-content ul {
  list-style: none;
  line-height: 1.5;
  padding-left: 1.5em;
}

#sidebar-content li { margin-left: -0.7em; }

#btn-sidebar-toggle {
  font-size: 1.5em;
  padding: 0.3em;
  cursor: pointer;
  float: right;
}

.sidebar-item { border-bottom: 1px solid #ADADAD; }

.sidebar-link-dot { margin-right: 6px; }

/* ======== Main Area ======== */

#main-event { width: calc(100% - 19em); }

.content {
    padding: 0 0 0 2%;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #171717;
    overflow-y: scroll;
}

.content h1 {
    margin: 0;
    padding: 0.83em 0;
}

.content h2 {
    font-size: 1.2rem;
    margin: 0;
    padding: 0.83em 0;
}

/* ========== Projects Area ============= */

#projects-container {
    margin: 0;
    padding: 0;
}

#projects-container li {
    margin: 0;
    width: 100%;
    padding: 1em 0;
    list-style-type: none;
    border-bottom: 1px solid #ADADAD;
    position: relative;
}

#projects-container li:first-of-type { padding-top: 0; }
#projects-container li:last-of-type { margin-bottom: 1em; }

#projects-container a { color: #d3d3d3; }
#projects-container a:hover { border-bottom: 1.5px solid #d3d3d3; }

.content button {
    width: calc(50% - 0.5em);
    float: left;
}

.content button:last-of-type { float: right; }

.content button i {
    font-size: 400%;
    float: left;
}

.content button span {
    display: block;
    transform: translateY(100%);
}

/* ========== Recent News ============ */
.loading-dots {
  text-align: center;
  z-index: 5;
}
.loading-dots.hidden { display: none; }

.dot {
  display: inline;
  margin-left: 0.2em;
  margin-right: 0.2em;
  position: relative;
  font-size: 3.5em;
  opacity: 0;
  animation: showHideDot 2.5s ease-in-out infinite;
}

.one { animation-delay: 0.2s; }
.two { animation-delay: 0.4s; }
.three { animation-delay: 0.6s; }

@keyframes showHideDot {
  0% { opacity: 0; }
  50% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; }
}


.container-news {
    margin-top: -0.8em;
    height: 25.8em;
    overflow-y: scroll;
}

.post,
.container-news h3  {
    color: #fff;
    padding-right: 1em;
}
.post { margin-bottom: 1.5em; }

.post-link {
    color: #fff;
    text-decoration: none;
}
.post-link:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.post-title {
    margin: 0;
    margin-bottom: -0.4em;
    font-size: 1.2em;
    font-weight: 500;
    color: #fff;
}
.post-date {
  margin: 0.2em 0 1.2em 0;
  font-size: 0.85em;
  color: #d3d3d3;
}
.post-content p:first-of-type { margin: 0; }
.post-content p { margin-top: 0; }

/* ========== STATUS BAR ============== */

#statusBar {
  position: fixed;
  background-color: #D9D9D9;
  color: #2B2B2B;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

#statusBar a { color: #2B2B2B; }

#statusBar ul {
  list-style: none;
  padding: 0 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#statusBar li { display: inline-block; }

#statusBar li:not(.no-pipe)::after {
  content: "|";
  color: #b5b5b5;
  margin-right: 0.5em;
  margin-left: 0.8em;
}

#statusBar-credits { float: right; }


/* ========== SCROLL BARS ============== */

::-webkit-scrollbar              {
  background-color: rgba(9, 9, 9, 0.1);
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track        { background-color: transparent; }

::-webkit-scrollbar-track-piece  { background-color: transparent; }

::-webkit-scrollbar-thumb        {
  background-color: #423e3e;
  border-radius: 5px;
  border: 1px solid #171717;
}

::-webkit-scrollbar-thumb:hover { background-color: #5C5858; }

::-webkit-scrollbar-thumb:active { background-color: #827E7E; }