.animation-toolbar {
  padding: var(--margin-100) var(--margin-050);
}

.animation-toolbar #animation-toolbar__onion-skin-range {
  margin: 0 var(--margin-050);
  width: 6rem;
}

.animation-toolbar__capture-button .button__icon-container {
  font-size: var(--height-300);
}
