.animation-toolbar__capture-button {
  color: var(--ba-blue);
}

.animation-toolbar__capture-button .button__icon-container {
  font-size: var(--height-300);
}

.animation-toolbar__play-last-button {
  margin-right: var(--margin-100);
}
