.settings-table-row td:nth-child(1) {
  max-width: 6rem;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--mantine-font-size-xs);
  line-height: var(--mantine-line-height-xs);
}

.settings-table-row td:nth-child(2) {
  min-width: 6rem;
}
.settings-table-row td:nth-child(3) {
  width: 5rem;
}
