:root {
  --width-1: 0.0625rem;
  /* 0.125rem  */
  --width-2: calc(var(--width-1) * 2);
  /* 0.25rem  */
  --width-4: calc(var(--width-1) * 4);
  /* 0.375rem */
  --width-6: calc(var(--width-1) * 6);
  /* 0.4375rem */
  --width-7: calc(var(--width-1) * 7);
  /* 0.5rem  */
  --width-8: calc(var(--width-1) * 8);
  /* 1rem  */
  --width-16: calc(var(--width-1) * 16);

  --border-1: var(--width-1);
  --border-2: var(--width-2);

  --margin-025: var(--width-4);
  --margin-050: var(--width-8);
  --margin-100: var(--width-16);
}
