@import "_colors.css";
@import "_sizes.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 0.85em;
}

body {
  background-color: var(--ba-dark);
  color: var(--ba-light);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
  line-height: 1.4;
  margin: 0;
  user-select: none;
}

a {
  color: var(--ba-blue);
  text-decoration: none;
}

a:hover,
a:active {
  opacity: 0.8;
  text-decoration: underline;
  -webkit-user-drag: none;
}

img {
  -webkit-user-drag: none;
}

h1,
h2,
h3 {
  align-items: center;
  display: flex;
  margin: var(--margin-100) 0;
}

h2 {
  color: var(--ba-white);
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

table {
  border-spacing: 0;
}

#root {
  height: 100%;
}

::-webkit-scrollbar {
  background-color: var(--ba-dark-20);
  width: 0.9rem;
  height: 0.9rem;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--ba-border);
  border-radius: var(--margin-050);
  border: var(--border-1) solid var(--ba-dark);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--ba-border-hover);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--ba-border-active);
}
