.preview {
  align-items: center;
  border: var(--ba-border-2) solid transparent;
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
}

.preview--active {
  border: var(--border-2) solid var(--ba-red);
}
