*, *::before, *::after { box-sizing: border-box; }

body{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: #333333;
    font-size: 13px;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1800px;
    color: #000;
    -webkit-user-select: none;  /* Note vendor specific prefix. Should be updated when "user-select" becomes an actual CSS property*/
    cursor: default;
    }
.app-info {
    background-color: #1a3960;
    width: 270px;
    height: 100vh;
    float: left;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}
h1{
    padding: 10px;
    width: 250px;
    margin: 0;
    color: #F3F3F3;
    font-size: 33px;
    box-sizing: content-box;
}
h2{
    padding: 0;
    margin: 1em 0;
    font-size: 20px;
    display: block;
}
.app-info > h2 {
    padding: 5px 10px;
    color: #fff;
    margin: 0.5em 0;
}
h3{
    padding: 0;
    margin: 0.5em 0;
    font-size: 15px;
}
footer{
    margin: 0;
    padding: 0 10px;
    width: 250px;
    font-size: 0.75em;
    clear: both;
    color: #fff;
    box-sizing: content-box;
}
footer a, footer a:visited {
    text-decoration: underline;
    color: #fff;
}
footer a:hover, footer a:active {
    text-decoration: underline;
    color: #fff;
}
div{
    margin: 0;
    padding: 0;
}
a, a:visited {
  text-decoration: underline;
  color: rgb(199, 100, 118);
  }
a:hover {
    cursor:pointer;
}
a:hover{
text-decoration: underline;
color: rgba(199, 100, 118, 0.7);
}
a:active{
    text-decoration: none;
}
/*==================NAVIGATION===========*/
nav{
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline-block;
    padding: 0;
    margin: 0;
}
nav ul li a{
    display: block;
    padding: 1.5em 2em;
    margin: 0;
    color: #000;
    text-decoration: none;
}
nav ul li a:visited{
    color: #000;
}
nav ul li a:hover, nav ul  a:active, #currentPage {
text-decoration: underline;
color: #000;
background: rgb(150, 189, 179);
}


/*========================================================
=====================MENU SCREEN==========================
=========================================================*/
.indexContent{
    padding: 0 2%;
    margin: 0;
    width: calc(100% - 270px);
    height: 100vh;
    background: #f3f3f3;
    float: left;
}
#recentProjectsList{ height: 250px; }

.container-news {
    margin-top: -0.8em;
    height: 25.8em;
    overflow-y: scroll;
}

.post,
.container-news h3  {
    color: #fff;
    padding-right: 1em;
    padding-left: 1em;
}

.post-link {
    color: #fff;
    text-decoration: none;
}
.post-link:hover { color: #fff; }

.post-title {
    font-weight: 400;
    margin: 0;
    margin-bottom: -0.4em;
    color: #fff;
}

/*=========================================================
===================MAIN WINDOW ELEMENTS=====================
===========================================================*/
#captureWindow, #playbackWindow {
    width: calc(100% - 50px);
    height: 350px;
    float: left;
    font-size: 0;
    text-align: center;
}
#captureWindow.hidden, #playbackWindow.hidden {
    display: none;
}
#column3 { width: calc(100% - 50px); }

#playbackContainer{
    width: 100%;
    height: 0;
    overflow: visible;
    max-height: 350px;
}
#playback{
    width: 100%;
    max-height: 350px;
    max-width: 467px;
}
#preview{
    width: 100%;
    padding: 0;
    margin: 0;
    max-height: 350px;
}
.windowTitleContainer{
    height: 0;
    margin: 0 auto;
    padding: 0;
    overflow: visible;
    z-index: 4;
    width: 100%;
    text-align: left;
    max-width: 467px;
}
#windowTitle, #playbackTitle, #captureTitle{
    position: relative;
    padding: 1em 5%;
    margin: 0;
    border-radius: 0 0 8px 8px;
    display: inline-block;
    background: rgba(170,170,170,0.7);
    font-size: 16px;
    font-weight: 400;
}
#controls{
    box-sizing: border-box;
    padding: 1.4% 2%;
    width: 100%;
    background-color: #f3f3f3;
    float: left;
}
/*=========================================================
===================GENERAL UI ELEMENTS======================
===========================================================*/
.list{
    background: #fff;
    padding: 2%;
    overflow-y: scroll;
    max-height: 300px;
    color: #acacac;
    text-align: center;
    margin-top: 20px;
    font-family: Helmet,Freesans,Helvetica,Arial,sans-serif;
}
.italics{
    color: #acacac;
    font-style: italic;
}
/*==============================================
==================STATUS BAR====================
===============================================*/
#statusBar{
    padding: 10px 50px 10px 0;
    width: 100%;
    background: #f3f3f3;
    float: left;
    font-size: 13px;
    position: fixed;
    top: calc(100% - 37px);
}
#statusBar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#statusBar ul li{
    display: block;
    float: left;
    padding: 0 2%;
}
/*==============================================
================POP UP WINDOWS=================
===============================================*/
#popUp{
    background: #f3f3f3;
    padding: 0 0 1em 0;
    height: calc(100vh - 60px - 1em);
    float: left;
    width: 100%;
}
#popUp p{
    padding: 0 5%;
}
.popUp{
    padding: 10px 5%;
}
/*==============================================
==================FRAME REEL====================
===============================================*/

#capturedFramesContainer {
    background-color: #aaa;
    padding: 2em initial;
    width: 100%;
    float: left;
    position: relative;
    height: 36vh;
}

/* Frame reel area */
#area-frame-reel {
    position: relative;
    top: -3px;
    overflow-x: auto;
}

#area-frame-reel > p {
  padding: 3% 0;
  font-size: 1.5em;
  text-align: center;
}
#area-frame-reel > p.hidden,
#area-frame-reel > table.hidden { display: none; }

/* Image container */
.frame-reel-preview {
    margin-right: 0.5em;
    margin-left: 0.5em;
    position: relative;
}
/* Preview image */
.frame-reel-img {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.frame-reel-img:hover { opacity: 0.8; }

/* Frame delete button */
.btn-frame-delete {
    background-color: rgb(243, 243, 243);
    padding: 2%;
    position: absolute;
    left: 84%;
    top: 75%;
    float: right;
    cursor: pointer;
}
.btn-frame-delete:hover { opacity: 0.8; }

/*================HIDDEN ELEMENTS=====================*/
#canvas{
    display: none;
}
#video{
    display: none;
}
/*PREVIEW WINDOW*/
#output{
    float: left;
}


/*=====================================================
======================BUTTONS=========================
=========================================================*/


button, .button, a.button{
    background: #aaa;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    width: initial;
    text-align: center;
    margin: 0 1% 0 0;
    height: 3em;
    outline: none;
}
button:hover, .button:hover, a.button:hover{
    opacity: 0.7;
    cursor:pointer;
}
button:active, a.button:active{
    text-decoration: underline;
}
#captureFrame{ background: rgb(199, 100, 118); }

#captureFrame:hover{ background: rgba(199, 100, 118,0.7); }

.mediaControls{
    float: right;
    background: rgba(243,243,243, 1);
    margin: 0;
    outline: none;
}
.mediaControls:hover{
    background: rgba(170,170,170, 0.5);
    opacity: 1;
}
.mediaControls:active{
    opacity: 0.7;
}

/*===========================================
=======================SIDEBAR===============
=============================================*/
#collapsedSidebar{
    width: 270px;
    padding: 5px;
    margin: 0;
    height: calc(100vh);
    background-color: #f3f3f3;
    box-shadow: 0 2px 5px 0 #E0E0E0;
    float: right;
    position: fixed;
    right: 0;
    transition: width 0.4s ease-out;
    z-index: 2;
}
#collapsedSidebar.shrink{ width: 50px; }

#sidebar{
    padding: 0;
    position: fixed;
    top: 50px;
    right: 0;
    width: 270px;
    background-color: #f3f3f3;
    height: calc(100vh - 50px);
    overflow-y: auto;
    z-index: 3;
    transition: transform 0.5s ease-out;
}
#sidebar.hidden { transform: translate3d(100%, 0, 0); }

#sidebar ul, #popUp ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#sidebar ul li h2, #popUp ul li h2{
    font-size: 1.3em;
    padding: 0.8em 5%;
    margin: 0 0 1em 0;
    display: inline-block;
    width: 100%;
    position: relative;
    background: #aaa;
    font-weight: 400;
    vertical-align: middle;
}
h2 img{
    margin-right: 10px;
    vertical-align: middle;
}
h2 span{ vertical-align: middle; }
#sidebar ul li li, #popUp ul li li{
    padding: 0.5em 5%;
    margin: 0;
    list-style-type: none;
    position: relative;
    border-top: solid 1px #ccc6c6;
    display: inline-block;
    width: 100%;
}
#sidebar ul li li span{ vertical-align: middle; }

#sidebar ul li li:last-of-type{
    border-bottom: solid 1px #ccc6c6;
    margin-bottom: 1em;
}
.sidebarOption{
    float: right;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0em;
}
.sidebarButton{
    float: right;
    position: relative;
    top: -0.5em;
}
#sidebar input{
    width: 46%;
    display: block;
    float: right;
    padding: 2%;
    vertical-align: middle;
}
#sidebar input:hover{ opacity: 0.8; }

#sidebar label{
    vertical-align: middle;
    display: block;
    float: left;
}
#sidebar input[type="checkbox"]{
    width: auto;
    padding: 2%;
    float: left;
}
#sidebar input[type="number"]{
    border: 0;
    margin: 0;
}
input[type="range"]:hover{ cursor: pointer; }

/* Save path display */
#currentDirectoryName { word-break: break-word; }

/*==========SIDE BAR TOGGLES===========*/
.btn-sidebar {
    margin: 0.7em 5% 0 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 2.5em;
    height: 2.1em;
    border-radius: 10px;
    background-color: rgba(67, 67, 67, 0.6);
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
.btn-sidebar:hover {
    background-color: rgba(67, 67, 67, 0.8);
    cursor: pointer;
}

.btn-sidebar span {
  position: relative;
  top: 0.1em;
}

/* Onion skin toggle button */
#btn-onion-skin-toggle { text-align: center; }
#btn-onion-skin-toggle:not(.active):hover { background-color: rgba(67, 67, 67, 0.8); }
#btn-onion-skin-toggle.active { background-color: rgba(26, 57, 96, 0.8); }
#btn-onion-skin-toggle.active:hover { background-color: rgba(26, 57, 96, 1); }

/*==========ONION SKINNING==============*/
#onionSkinningLayer{
    width: 100%;
    height: 0;
    overflow: visible;
    padding: 0;
    margin: 0;
    z-index: 2;
}

#onion-skinning-frame {
    position: relative;
    padding: 0;
    margin: 0;
    border: 0;
    opacity: 0.5;
    display: none;
    max-height: 350px;
    max-width: 467px;
}
#onion-skinning-frame.visible { display: inline; }

#options-onion-skin {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
}
#options-onion-skin.visible { max-height: 7em; }

/* Frame rate input */
#input-fr-change { margin-top: 0.3em; }

/* ========== NOTIFICATION BAR ============== */
.notification {
  width: 60vw;
  min-height: 3em;
  position: absolute;
  left: 18vw;
  padding-top: 0.2em;
  padding-bottom: 0.5em;
  box-shadow: 0 1px 5px 1px rgba(27, 27, 27, 0.4);
  z-index: 5;
  color: #fff;
  transition: transform 0.3s ease;
}

/* Notification states */
.notification.hidden { transform: translate3d(0, -110%, 0); }
.notification.success { background-color: #2d9e2d; }
.notification.info { background-color: #3a3ae1; }
.notification.error { background-color: #c90000; }

.notification #msg {
  margin: 0;
  font-size: 1.6em;
  text-align: center;
}

/* Flexbox layout for the animator */
.animator {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.animator .content-flex { flex: 1; }
