body{
    background: #1a3960;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #fff;
    cursor: progress;
    margin: 0 auto;
    border-radius: 10px;
}
heading{
    width: 100%;
}
h1{
    padding: 1% 2%;
    margin: 0;
    color: #F3F3F3;
    font-size: 45px;
    margin: 0 auto;
}
ul{
    margin: 100px 0 0 0;
    padding: 0;
}
ul li{
    margin: 0;
    list-style-type: none;
    display: inline-block;
    padding: 1% 10% 1% 2%;
}