.toolbar-item {
  display: flex;
  column-gap: var(--margin-050);
}

.toolbar-item--stretch {
  flex: 1;
}

.toolbar-item--center {
  justify-content: center;
}

.toolbar-item--right {
  justify-content: end;
}
