.tab-group {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.tab-group__nav {
  background-color: var(--ba-dark);
  display: flex;
  height: var(--height-400);
  width: 100%;
}

.tab-group__nav-item {
  align-items: center;
  border-bottom: var(--border-1) solid var(--ba-light-mid);
  color: var(--ba-light-mid);
  display: flex;
  flex: 1;
  font-size: 0.8rem;
  justify-content: center;
  letter-spacing: 0.04rem;
  padding: 0 calc(var(--margin-100) + var(--border-1));
  position: relative;
  text-transform: uppercase;
}

.tab-group__nav-item:hover,
.tab-group__nav-item:active {
  color: var(--ba-white);
  opacity: 1;
  text-decoration: none;
}

.tab-group__nav-item--active,
.tab-group__nav-item--active:hover {
  background-color: var(--ba-dark-mid);
  border-bottom: none;
  border-left: var(--border-1) solid var(--ba-light-mid);
  border-right: var(--border-1) solid var(--ba-light-mid);
  color: var(--ba-white);
  font-weight: bold;
  letter-spacing: 0;
  padding: 0 var(--margin-100) var(--border-1) var(--margin-100);
}

.tab-group__nav-item-text {
  position: absolute;
}

.tab-group__panes {
  display: flex;
  flex: 1;
  min-width: 100%;
  overflow: hidden;
  width: 0.0625rem;
}

.tab-group__pane-item {
  display: none;
  flex: 1;
}

.tab-group__pane-item--active {
  display: block;
}
