.timeline-track-item {
  position: relative;
  height: 100%;
  min-width: calc(var(--width-16) * 7);
  width: calc(var(--width-16) * 7);
  margin-right: var(--width-16);
}

.timeline-track-item__img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: var(--margin-025);
}

.timeline-track-item__img--highlighted {
  outline: var(--border-1) solid var(--ba-light);
}

.timeline-track-item__cover {
  border-radius: var(--margin-025);
  height: 100%;
  position: absolute;
  width: 100%;
}

.timeline-track-item__cover:hover {
  background-color: var(--ba-light-20);
}

.timeline-track-item__cover:active {
  background-color: var(--ba-light-30);
}
