.timeline-position {
  position: relative;
  height: var(--height-200);
}

.timeline-position__inner {
  position: absolute;
  display: flex;
  font-size: 0.75rem;
  height: 100%;
  line-height: 1.2;
  overflow: hidden;
  padding-left: var(--margin-100);
  width: 100%;
}

.timeline-position__marker {
  min-width: calc(var(--width-16) * 8);
  width: calc(var(--width-16) * 8);
}
