.page-footer {
  background-color: var(--ba-light);
  color: var(--ba-dark-mid);
  font-size: 0.95rem;
  width: 100%;
}

.page-footer__list {
  list-style: none;
  margin: var(--margin-050) 0;
  padding: 0 var(--margin-100);
}
