/* Main area
   -------------------------------- */

#main-area {
  display: flex;
  flex-direction: column;
}

/* ========== SIDEBAR ============== */

#animatorSidebar {
  border: 0;
  display: flex;
  /** Sidebar will use whatever the width of the tabs is **/
  width: auto;
  max-width: 50vw;
}

#animatorSidebar.hidden {
  display: none;
}

#currentDirectoryName {
  font-family: monospace;
  margin: 0.25rem 0;
  word-break: break-word;
}

#capture-options select {
  width: 100%;
}

#currentVideoExportText {
  font-family: monospace;
  word-break: break-word;
}

body[data-has-frames="false"] #exportVideoSidebarOption *,
body[data-has-frames="false"] #exportVideoSidebarOption *:hover {
  cursor: not-allowed;
}

#exportStatusDialog {
  width: 100%;
  overflow-y: scroll;
  font-family: monospace;
  word-break: break-word;
  height: 200px;
  text-align: left;
}

/* ========== VIDEO PREVIEW ============== */

#preview-area {
  display: flex;
  flex: 1;
  text-align: center;
  background-color: var(--ba-black);
  position: relative;
  border: 2px solid transparent;
}
#preview-area.capture-mode {
  border-color: var(--ba-red);
}

.preview-area-item {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Mode switching */

#preview-area.capture-mode > :not(.visible-capture),
#preview-area.playback-mode > :not(.visible-playback),
#left-controls.capture-mode > :not(.visible-capture),
#left-controls.playback-mode > :not(.visible-playback) {
  display: none;
}

/* Individual preview area items */

#preview-area-message {
  align-items: center;
  display: flex;
  justify-content: center;
}

#preview,
#playback {
  flex: 1;
  height: 100%;
  object-fit: contain;
  position: absolute;
  width: 100%;
}


/**== Loading Window ==*/
#loading-window {
  background-color: var(--ba-dark-50);
  display: none;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 100vw;
  z-index: 50;
}
#loading-window.active { display: flex; }

#loading-window-message.hidden,
#loading-window-dots.hidden {
  opacity: 0;
}

#loading-window-message {
  text-align: center;
}

/** Loading animation */
#loading-window-dots {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.dot {
  display: inline;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  position: relative;
  font-size: 3.5rem;
  opacity: 0;
  animation: showHideDot 2.5s ease-in-out infinite;
}

.dot.one { animation-delay: 0.2s; }
.dot.two { animation-delay: 0.4s; }
.dot.three { animation-delay: 0.6s; }

@keyframes showHideDot {
  0% { opacity: 0; }
  50% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; }
}

/*========== ONION SKINNING ==============*/

#onion-skinning-frame {
  height: 100%;
  left: 0;
  object-fit: contain;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

#onion-skinning-frame:not([src]){ display:none; }

/* Frame mod panel.
   -------------------------------- */

#frame-mod-panel {
  background-color: var(--ba-dark);
  border-bottom: 1px solid var(--ba-border);
  padding: 0 1rem;
  width: 100%;
}

#frame-mod-panel > * {
  align-items: center;
  display: flex;
}

/* Buttons within the frame mod panel */
.button {
  font-size: 1.3rem;
  display: inline-block;
  min-width: 2rem;
  padding: 0.75rem 0;
  text-align: center;
}
.button:hover {
  background-color: var(--ba-dark-mid);
}

/* ===  Left controls === */

#left-controls { flex: 4; }

/* ===  Capture control === */

#capture-control { justify-content: center; }

#btn-capture-frame {
  padding: 0.375rem 0.25rem;
}

#btn-capture-frame i {
  color: var(--ba-yellow);
  font-size: 2.6rem;
}

#btn-capture-frame i:hover { color: var(--ba-yellow-hover); }

/* ===  Playback controls === */

#playback-controls {
  justify-content: flex-end;
  flex: 4;
}

#btn-loop i.active { color: var(--ba-red); }

/* ========== FRAME REEL ============== */

/* Frame reel area */
#area-frame-reel {
  background-color: var(--ba-dark);
  height: 7rem;
  overflow-x: scroll;
}

#area-frame-reel table {
  border-spacing: 0 !important;
}

#area-frame-reel tr {
  display: inline-block;
  vertical-align: top;
}

#area-frame-reel tr:nth-child(2) { display: table-cell; }

#area-frame-reel > p {
  font-size: 1.4rem;
  text-align: center;
}

#area-frame-reel > p.hidden,
#area-frame-reel > table.hidden { display: none; }

/* Image container */
td:first-of-type .frame-reel-preview {
  padding-left: 0.25rem;
}
.frame-reel-preview {
  position: relative;
  padding-right: 0.25rem;
}

/* Preview image */
.frame-reel-img {
  background-color: var(--ba-dark-mid);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50px;
  width: 67px;
}
.frame-reel-img:hover { opacity: 0.8; }
.frame-reel-img.selected { outline: 1px solid var(--ba-light); }

.frame-reel-no {
  padding: 0.25rem 0.25rem 0.25rem 0;
  font-size: 0.75rem;
}

#btn-live-view {
  width: 67px;
  height: 50px;
  background-color: var(--ba-dark);
  color: var(--ba-light);
  text-align: center;
  font-size: 2.5rem;
}
#btn-live-view:hover { color: var(--ba-red); }

#btn-live-view.selected {
  color: var(--ba-red);
  outline: 1px solid var(--ba-light);
}

#btn-live-view i { padding-top: 0.2rem; }


/* Control panel
   -------------------------------- */

#control-panel {
  display: flex;
  padding: 0.5rem 0;
  white-space: nowrap;
  width: 100%;
}

/* === Preview options === */

#btn-grid-toggle {
  position: relative;
  display: inline-block;
  padding: 0 1rem;
}

#btn-grid-toggle i { font-size: 1.7rem; }

/* === Onion skin opacity options === */

#onion-skin-opacity-options { text-align: center; }

#slider-background-middle {
  position: relative;
  height: 1.9rem;
  width: 0.09rem;
  background-color: white;
  margin: -1.24rem auto 0 auto;
  z-index: -1;
}

#input-onion-skin-opacity {
  width: 15rem;
  -webkit-appearance: none;
}

#input-onion-skin-opacity:focus { outline: none; }

#input-onion-skin-opacity::-webkit-slider-runnable-track {
  height: 2px;
  background-color: var(--ba-light);
}

#input-onion-skin-opacity::-webkit-slider-thumb {
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 50%;
  background-color: var(--ba-red);
  -webkit-appearance: none;
  margin-top: -9.5px;
}
#input-onion-skin-opacity::-webkit-slider-thumb:hover {
  background-color: var(--ba-red-hover);
}

#input-onion-skin-opacity:focus::-webkit-slider-runnable-track { background-color: var(--ba-light); }

/* === Frame rate options === */

#frame-rate-options {
  display: inline-block;
  padding-right: 1rem;
  text-align: right;
}

#input-fr-change {
  margin: 0;
  width: 3.5rem;
}

/* Status bar
   -------------------------------- */

#current-mode span { text-transform: capitalize; }