.timeline-track-label {
  align-items: center;
  display: flex;
  height: var(--height-800);
  padding: var(--mantine-spacing-md);
  min-width: calc(var(--mantine-spacing-md) * 4);
  width: calc(var(--mantine-spacing-md) * 4);
}
