.timeline-track-label {
  align-items: center;
  border-right: var(--border-1) solid var(--ba-border);
  color: var(--ba-light-mid);
  display: flex;
  height: 100%;
  padding: var(--margin-100);
  width: calc(var(--width-16) * 4);
}
