/* TODO these imports should be phased out */
@import "../../../styles/_colors.css";
@import "../../../styles/_sizes.css";

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300 400 500 600 700 800;
  src: url("./OpenSans.ttf") format("truetype");
}

:root {
  --ba-theme-timeline-background: var(--mantine-color-default);
  --ba-theme-border: calc(0.0625rem * var(--mantine-scale)) solid
    var(--mantine-color-default-border);
}

body {
  user-select: none;
  height: 100vh;
}

#root {
  height: 100%;
}

::-webkit-scrollbar {
  background-color: var(--mantine-color-default);
  width: var(--mantine-spacing-md);
  height: var(--mantine-spacing-md);
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--mantine-color-gray-6);
  border-radius: var(--mantine-radius-md);
  border: calc(0.25rem * var(--mantine-scale)) solid var(--mantine-color-default);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--mantine-color-gray-7);
}
